@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-input {
  padding: 4px !important;
  border:none;
  border-radius: 8px !important;
  outline: none !important;
  font-size: 14px !important;
  cursor: pointer;
  color: #919AB1 !important;
  
}

.MuiTextField-root {
  margin-top: 8px !important;
  border-radius: 8px !important;
  outline: none !important;
  background-color: #F2F4F5 !important;
}

.calendar .MuiCalendarPicker-root {
  /* border: 1px solid black !important; */
  border-radius: 8px !important;
}

.PrivatePickersSlideTransition-root{
  min-height: 200px !important;
}

.css-epd502{
  margin:0 !important;
  border-radius: 8px !important;
}

.MuiPaper-root{
  border-radius: 8px;
}

.root-layout{
  min-height: 100svh !important;
}