@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-input {
  padding: 4px !important;
  border: 1px solid black !important;
  border-radius: 4px !important;
  outline: none !important;
  font-size: 14px !important;
}

.MuiTextField-root {
  margin-top: 8px !important;
  outline: none !important;
}

.calendar .MuiCalendarPicker-root{
  border: 1px solid black !important;
  border-radius: 8px !important;
}

.PrivatePickersSlideTransition-root{
  min-height: 200px !important;
}

.css-epd502{
  margin:0 !important;
}

.MuiPaper-root{
  border-radius: 8px;
}

.container{
  min-height: 100dvh !important;
}
